textarea, input[type="text"], input[type="password"], select {
    border-color: #399098;
}

.selectedInDataTable {
    background-color: #a4cace;
}

.valueText {
    color: #03474d;
}

.linkLikeButton {
    background-color: #008894;
}

.linkLikeButton:hover {
    background-color: #006773;
}

a:not(.linkLikeButton) {
    color: #03474d;
}

a:hover:not(.linkLikeButton) {
    color: #098d98;
}

/* Mozilla based browsers */
::-moz-selection {
    background-color: #03474d;
}

/* Works in Safari */
::selection {
    background-color: #03474d;
}

/*login css*/
.login-form {
    background: -webkit-gradient(linear, center bottom, center top, from(#1b7c84), to(#0a6067)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #1b7c84, #0a6067); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #1b7c84, #0a6067); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #1b7c84, #0a6067); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #1b7c84, #0a6067); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#1b7c84), to(#0a6067)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #1b7c84, #0a6067); /* The standardl */
    background-color: #10727a; /* other browsers */

    border-color: #10727a;
}

/**********/

/*richfaces css*/
.rf-edt-r-sel {
    background-color: #a4cace !important;
}

.rf-pick-src-cptn, .rf-pick-tgt-cptn {
    color: #186e75;
}

.rf-pm-itm, .rf-pm-itm-dis:hover {
    box-shadow: 0 2px 1px 0 #0e7881;
}

.rf-pm-itm, .rf-pm-itm-dis:hover .persianMode {
    border-left: 1px solid #1a7f87 !important;
}

.rf-pm-itm, .rf-pm-itm-dis:hover .persianMode {
    border-right: 1px solid #1a7f87 !important;
}

.rf-pm-itm .rf-pm-itm-lbl {
    color: #03474d;
}

.rf-pm-itm:hover .rf-pm-itm-lbl:hover {
    color: #098d98;
}

.rf-pm-itm:hover .rf-pm-itm-lbl {
    color: #03474d;
}

.rf-pm-itm:hover {
    border: 1px solid #186e75;
}

.rf-pm-top-gr-lbl {
    color: white;
}

.rf-pp-hdr {
    background: -webkit-gradient(linear, center bottom, center top, from(#066770), to(#b6dde1)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #066770, #b6dde1); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #066770, #b6dde1); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #066770, #b6dde1); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #066770, #b6dde1); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#066770), to(#b6dde1)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #066770, #b6dde1); /* The standardl */
    background-color: #066770; /* other browsers */
}

.rf-dt-shdr-c {
    background: none repeat scroll 0 0 #05484e;
    color: #FFFFFF;
    text-shadow: 0 1px 2px yellow #186e75;
}

.rf-dt-ftr-c {
    background: none repeat scroll 0 0 #247980;
}

.rf-dt-shdr-c > a:hover {
    color: white;
    text-shadow: 0 1px 2px yellow #186e75;
}

.rf-dt-shdr-c > a {
    color: white;
    text-shadow: 0 1px 2px yellow #186e75;
}

.rf-ds-dis {
    color: #05484e;
}

.rf-ds-dis:hover {
    color: white;
    background-color: #247980;
}

.rf-ds-btn:hover {
    color: white;
    background-color: #247980;
}

a.rf-ds-btn {
    color: #05484e;
}

/***************/

/*header css */
.topIcons {
    background: -webkit-gradient(linear, center bottom, center top, from(#75bac0), to(#F5F5DC)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #75bac0, #F5F5DC); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #75bac0, #F5F5DC); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #75bac0, #F5F5DC); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #75bac0, #F5F5DC); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#75bac0), to(#F5F5DC)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #75bac0, #F5F5DC); /* The standardl */
    background-color: #75bac0; /* other browsers */

    border-bottom: 1px groove #61adb4;
}

.header-repeat {
    background: -webkit-gradient(linear, center bottom, center top, from(#0a6067), to(#49afb8)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #0a6067, #49afb8); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #0a6067, #49afb8); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #0a6067, #49afb8); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #0a6067, #49afb8); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#0a6067), to(#49afb8)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #0a6067, #49afb8); /* The standardl */
    background-color: #1e818a; /* other browsers */
}

/*******/
