textarea, input[type="text"], input[type="password"], select {
    border-color: #d29b9b;
}

.selectedInDataTable {
    background-color: #d29b9b;
}

.valueText {
    color: #900000;
}

.linkLikeButton{
    background-color: #900000;
}

.linkLikeButton:hover{
    background-color: #900045;
}

a:not(.linkLikeButton) {
    color: #900000;
}

a:hover:not(.linkLikeButton) {
    color: #a13b3b;
}

/* Mozilla based browsers */
::-moz-selection {
    background-color: #900000;
}

/* Works in Safari */
::selection {
    background-color: #900000;
}

/*login css*/
.login-form {
    background: -webkit-gradient(linear, center bottom, center top, from(#a73636), to(#9d0e0e)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #a73636, #9d0e0e); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #a73636, #9d0e0e); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #a73636, #9d0e0e); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #a73636, #9d0e0e); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#a73636), to(#9d0e0e)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #a73636, #9d0e0e); /* The standardl */
    background-color: #a62323; /* other browsers */

    border-color: #a21414;
}

/**********/

/*richfaces css*/
.rf-edt-r-sel {
    background-color: #d29b9b !important;
}

.rf-pick-src-cptn, .rf-pick-tgt-cptn {
    color: #a21414;
}

.rf-pm-itm, .rf-pm-itm-dis:hover {
    box-shadow: 0 2px 1px 0 #a83030;
}

.rf-pm-itm, .rf-pm-itm-dis:hover .persianMode {
    border-left: 1px solid #c63c3c !important;
}

.rf-pm-itm, .rf-pm-itm-dis:hover .persianMode {
    border-right: 1px solid #c63c3c !important;
}

.rf-pm-itm .rf-pm-itm-lbl {
    color: #900000;
}

.rf-pm-itm:hover .rf-pm-itm-lbl:hover {
    color: #a13b3b;
}

.rf-pm-itm:hover .rf-pm-itm-lbl {
    color: #900000;
}

.rf-pm-itm:hover {
    border: 1px solid #a21414;
}

.rf-pm-top-gr-lbl {
    color: white;
}

.rf-pp-hdr {
    background: -webkit-gradient(linear, center bottom, center top, from(#a93030), to(#deacac)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #a93030, #deacac); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #a93030, #deacac); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #a93030, #deacac); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #a93030, #deacac); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#a93030), to(#deacac)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #a93030, #deacac); /* The standardl */
    background-color: #a93030; /* other browsers */
}

.rf-dt-shdr-c {
    background: none repeat scroll 0 0 #6f1616;
    color: #FFFFFF;
    text-shadow: 0 1px 2px yellow #a21414;
}

.rf-dt-ftr-c {
    background: none repeat scroll 0 0 #a24c4c;
}

.rf-dt-shdr-c >a:hover {
    color: white;
    text-shadow: 0 1px 2px yellow #a21414;
}

.rf-dt-shdr-c > a {
    color: white;
    text-shadow: 0 1px 2px yellow #a21414;
}

.rf-ds-dis {
    color: #6f1616;
}

.rf-ds-dis:hover {
    color: white;
    background-color: #a24c4c;
}

.rf-ds-btn:hover {
    color: white;
    background-color: #a24c4c;
}

a.rf-ds-btn {
    color: #6f1616;
}

/***************/

/*header css */
.topIcons {
    background: -webkit-gradient(linear, center bottom, center top, from(#cf8c8c), to(#F5F5DC)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #cf8c8c, #F5F5DC); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #cf8c8c, #F5F5DC); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #cf8c8c, #F5F5DC); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #cf8c8c, #F5F5DC); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#cf8c8c), to(#F5F5DC)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #cf8c8c, #F5F5DC); /* The standardl */
    background-color: #cf8c8c; /* other browsers */

    border-bottom: 1px groove #c63c3c;
}

.header-repeat {
    background: -webkit-gradient(linear, center bottom, center top, from(#9d0e0e), to(#d95151)); /* Safari4+ , Chrome2+ */
    background: -webkit-linear-gradient(top, #9d0e0e, #d95151); /* Safari5.1+ , Chrome10+ */
    background: -moz-linear-gradient(center bottom, #9d0e0e, #d95151); /* FF3.6+ */
    background: -o-linear-gradient(bottom, #9d0e0e, #d95151); /* Opera 11.10 */
    background: -ms-linear-gradient(top, #9d0e0e, #d95151); /* IE */
    background: -khtml-gradient(linear, left top, left bottom, from(#9d0e0e), to(#d95151)); /* Konqueror4.7.4+ */
    background: linear-gradient(to top, #9d0e0e, #d95151); /* The standardl */
    background-color: #a62323; /* other browsers */
}

/*******/
