GrayModena.Geometry {
    direction: rtl;
}

#mobile-menu-button {
    float: right;
}

#top-menu{
    float: left;
}

.layout-menu > li > a > i {
    float: right;
}

.ui-paginator .ui-paginator-prev .ui-icon {
    background-image: url("/modena-1.0.1/javax.faces.resource/images/right-one-arrow-for-data.svg.xhtml?ln=primefaces-modena");
}

.ui-paginator .ui-paginator-next .ui-icon {
    background-image: url("/modena-1.0.1/javax.faces.resource/images/left-one-arrow-for-data.svg.xhtml?ln=primefaces-modena");
}

.ui-paginator .ui-paginator-last .ui-icon {
    background-image: url("/modena-1.0.1/javax.faces.resource/images/left-double-arrow-for-data.svg.xhtml?ln=primefaces-modena");
}

.ui-paginator .ui-paginator-first .ui-icon {
    background-image: url("/modena-1.0.1/javax.faces.resource/images/right-double-arrow-for-data.svg.xhtml?ln=primefaces-modena");
}

.ui-treetable .ui-icon-triangle-1-e {
    background-image: url("/modena-1.0.1/javax.faces.resource/images/leftarrow-navy.svg.xhtml?ln=primefaces-modena");
}

#containertable tr {
    vertical-align: top;
}

#top-menu li ul.active-menu{
    left: 150px;
}

.icon-menu {
    padding-left: 10px;
}

#layout-menu-cover:not(.showmenu) {
    margin-right: -320px;
}

#layout-menu-cover {
    right: 0;
    min-width: 220px;
    width: auto;
}

.layout-menu li ul li a {
    text-align: right;
    direction: rtl
}

.ui-paginator-current {
    direction: ltr;
}

.layout-menu > li > a {
    text-align: right;
}

.ui-menu {
    min-width: 110px;
    width: auto;
    border-right: 3px solid #0277bd;
    border-bottom: 1px solid #0277bd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.ui-menu .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
    margin-right: 14px;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    float: right;
}

.ui-menu .ui-menuitem-text {
    float: right;
}

.ui-menu .ui-menu-list .ui-menuitem .ui-state-hover, .ui-menu .ui-menu-list .ui-state-hover {
    background-color: #0277bd;
    border-radius: 0;
    border-right: 1px dotted white;
    color: white;
}

.ui-menu .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
    margin-right: 14px;
}

.layout-menu li ul li a > i {
    margin-left: 4px;
}

.has-car {
    color: #45ab3b;
    font-weight: bold;
}

.menulink {
    direction: rtl;
}

.layout-menu li ul li a > i {
    margin-left: 4px;
}

#color-menu {
    float: left;
}